
@{
    ViewData["Title"] = "Cart";
}
<style>
    .removeBtn {
        position: relative;
        vertical-align: top;
        width: 35%;
        height: 30px;
        padding: 0;
        font-size: 14px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #c0392b;
        border: 0;
        border-radius: 10px;
        border-bottom: 2px solid #b53224;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #b53224;
        box-shadow: inset 0 -2px #b53224;
    }
    img{
        height:40px;
        width:60px;
    }

    table {
        text-align: right;
    }

    th {
        text-align: right;
    }

    .instrumentCard {
        width: 100%;
        display: table-row;
    }
</style>
<table>
    <tr>
        <td style="max-width: 25vw;padding-right: 4vw;vertical-align:top">
            <h3>ההמלצות שלנו</h3>
            <table style="text-align: center;width:100%;overflow-y:scroll;display: inline-block;font-size:18px;font-family:'Segoe UI';max-height:40vh">
                <tbody id="recommendationList">
                </tbody>
            </table>
        </td>
        <td style="width: 55vw;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">הסרה</th>
                        <th scope="col">סך הכל</th>
                        <th scope="col">מחיר ליחידה</th>
                        <th scope="col">כמות</th>
                        <th scope="col">שם המוצר</th>
                    </tr>
                </thead>
                <tbody id="cartItems">
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <label id="totalCartPrice"></label>
                            <label>:מחיר כולל</label>
                            <br />
                            <button id="completeOrder" class="btn btn-success">סיום הזמנה</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    
</table>
            

            
           
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(async () => {
        if (sessionStorage.cart == undefined) {
            sessionStorage.cart = JSON.stringify([]);
        }
        var allInstruments = await getAllInstruments();
        var cartDetails = [];
        var cart = JSON.parse(sessionStorage.cart);
        var recommendations = JSON.parse(sessionStorage.recommendations);
        renderRecommondations(recommendations);
        for (cartItem of cart) {
            for (instrument of allInstruments) {
                if (cartItem.id == instrument.id) {
                    cartDetails.push({ id: instrument.id, name: instrument.name, price: instrument.price, quantity: cartItem.quantity })
                }
            }
        }
        renderCartDetails(cartDetails);
        calculateCartPrice(cartDetails);

        $('.removeBtn').on('click', (event) => {
            var target = event.target;
            var instrumentId = target.getAttribute('instrumentId');
            var index = 0;
            for (cartItem of cartDetails) {
                if (cartItem.id == instrumentId) {
                    cartDetails = cartDetails.filter(item => item.id != instrumentId);
                    cart = cart.filter(item => item.id != instrumentId);
                    sessionStorage.cart = JSON.stringify(cart);
                    $("#cartItems").empty();
                    renderCartDetails(cartDetails);
                }
                index++;
            }
            calculateCartPrice(cartDetails);
        });

        $('#completeOrder').on('click', (event) => {
            if (JSON.parse(sessionStorage["cart"]).length != 0) {
                $.ajax({
                    url: "/Instruments/order",
                    type: "POST",
                    data: { items: JSON.parse(sessionStorage.cart) },
                    success: function (res, status, xhr) {
                        alert("ההזמנה בוצעה");
                        sessionStorage.cart = JSON.stringify([]);
                        setTimeout(() => {
                            window.location.href = "/Home";
                        }, 2000)
                    },
                    error: function (xhr, status, err) {
                        alert("שגיאה במהלך ההזמנה");
                    }
                });
            } else {
                alert("הוסף מוצרים לעגלה!");
            }
        });

    })
    const getAllInstruments = async () => {
        return await $.ajax({
            url: "/Instruments/list",
            success: function (instruments, status, xhr) {
                return instruments;
            },
            error: function (xhr, status, err) {
                console.log("fail");
                return [];
            }
        })
    }

    const renderRecommondations = (instruments) => {
        for (instrument of instruments) {
            var instrumentCard = document.createElement("tr");
            instrumentCard.className = "instrumentCard";

            var instrumentCell = document.createElement("td");
            /*var instrumentImg = document.createElement("img");
            instrumentImg.className = "instrumentImage";
            instrumentImg.setAttribute("src", '/Images/' + instrument.imagePath)
            instrumentCell.appendChild(instrumentImg);*/
            var instrumentName = document.createElement("td");
            instrumentName.className = "instrumentName";
            instrumentName.innerHTML = instrument.name;
            var instrumentPrice = document.createElement("td");
            instrumentPrice.className = "instrumentPrice";
            instrumentPrice.innerHTML =  "₪" + instrument.price;
            instrumentCard.appendChild(instrumentPrice);
            instrumentCard.appendChild(instrumentName);
            instrumentCard.appendChild(instrumentCell);
            $("#recommendationList").append(instrumentCard)
        }
    }

    const renderCartDetails = (cartDetails) => {
        for (cartItem of cartDetails) {
            var cartItemRow = document.createElement("tr");
            var itemName = document.createElement("td");
            itemName.appendChild(document.createTextNode(cartItem.name));
            var itemPrice = document.createElement("td");
            itemPrice.appendChild(document.createTextNode(cartItem.price));
            var itemQuantity = document.createElement("td");
            itemQuantity.appendChild(document.createTextNode(cartItem.quantity));
            var itemsTotalPrice = document.createElement("td");
            itemsTotalPrice.appendChild(document.createTextNode(cartItem.quantity * cartItem.price));
            var removeItem = document.createElement("td");
            var removeBtn = document.createElement("button");
            removeBtn.innerHTML = 'הסר';
            removeBtn.className = "removeBtn";
            removeBtn.setAttribute('instrumentId', cartItem.id);
            removeItem.appendChild(removeBtn);

            cartItemRow.appendChild(removeItem);
            cartItemRow.appendChild(itemsTotalPrice);
            cartItemRow.appendChild(itemPrice);
            cartItemRow.appendChild(itemQuantity);
            cartItemRow.appendChild(itemName);
            $('#cartItems').append(cartItemRow);
        }
    }

    const calculateCartPrice = (cartDetails) => {
        var totalCartPrice = 0;
        for (item of cartDetails) {
            totalCartPrice += item.price * item.quantity;
        }
        $('#totalCartPrice').html(totalCartPrice);
    }

    const completeOrder = () => {

    }

</script>
