#canvas-wrap {
    position: relative;
    margin-top: 100px
}

#canvas-wrap canvas {
    position: absolute;
    top: 55px;
    left: -15px;
    width: 100%;
    z-index: 2;
}

aside {
    max-width: 80%;
    text-align:right;
    padding-left: 1.5rem;
    margin-left: 1.5rem;
    float: right;
    box-shadow: inset 5px 0px 5px -5px #29627e;    
    height: 100px;
}

aside > p {
        
}

