@model musicly.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2 style="text-align:right">מחיקה</h2>

<h3 style="text-align:right"> ?האם אתה בטוח שברצונך למחוק את @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחק" class="btn btn-default" /> |
        <a asp-action="Index">חזרה לכל המשתמשים</a>
    </form>
</div>
