@model musicly.Models.InstrumentType

@{
    ViewData["Title"] = "Details";
}

<h2 style="text-align:right">פרטים</h2>

<div>
    <h4 style="text-align:right">סוג כלי נגינה</h4>
    <hr />
    <dl style="float:right" class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ערוך</a> |
    <a asp-action="Index">חזרה לרשימה</a>
</div>
