@model IEnumerable<musicly.Models.InstrumentType>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">צור חדש</a>
</p>
<form asp-controller="InstrumentTypes" asp-action="Index" method="get">
    <input name="searchString" type="text" placeholder="סוג כלי כאן" />
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                שם
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ערוך</a> |
                <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">מחק</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
