@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/about.css">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="wYG7PNyA"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Use this area to provide additional information.</p>


<div id="about" class="container">
    <div id="fb-root"></div>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="~/js/about.js"></script>

    <section>
        <aside>
            <p>
                Please visit our facebook page.<a href="https://www.facebook.com/Musicly-108669654304902" class="fa fa-facebook" target="_blank"></a>

                <div class="fb-share-button" style="display:block" data-href="https://www.facebook.com/Musicly-108669654304902" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSabrasme&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <svg id="barChart"></svg>

            </p>
        </aside>
        <p>
            we invite you to stop your life for a couple
            of minutes and enjoy from a fresh smoothie
            or fresh juice.
            All of our fruits are fresh and high quality.
            Sabras exists 5 years and always tries to
            give the best service to our customers.
            All of our fruits grow in Israel
            (because we are sabras).
            We located at Through Ramatayim 67,
            Hod Hasharon,
        </p>
    </section>

    <div id="canvas-wrap">
        <canvas id="myCanvas">
        </canvas>
        <div id="map" style="height:800px;">
        </div>
    </div>


    <script>
        //draw circle
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(150, 80, 55, 0, 4 * Math.PI);
        ctx.stroke();

        //initialize map
        function myMap() {
            var locations = [];
            $.get("https://localhost:44304/Stores", function (data) {
                var uluru = { lat: 31.957122, lng: 34.970975 };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 11, center: uluru });

                // The marker, positioned at Uluru
                $.each(data, function (i, item) {
                    let location = { lat: item.lat, lng: item.lng };
                    var marker = new google.maps.Marker({ position: location, map: map });
                });
            });

            $("#myCanvas").click(function () {
                $("#myCanvas").hide();
            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByfBxIl9_Kz12_97dMtFdVDlbn7zk7dts&callback=myMap"></script>


</div>
