@{
    ViewData["Title"] = "Home Page";
}

<div>
    <center dir="rtl">
        <h3>        דוגמא לכלי הנגינה באתר:</h3>
        <br/>
        <video width="800" height="500" controls>
            <source src="~/images/music-instruments-song-for-children-video-360p-mp4.mp4" type="video/mp4">
        </video>
    </center>
</div>
