@model musicly.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2 style="text-align:right">מחיקה</h2>

<h3 style="text-align:right;direction:rtl">האם אתה בטוח שאתה רוצה למחוק את ההזמנה הזאת?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחק" class="btn btn-default" /> |
        <a asp-action="Index">חזרה להזמנות</a>
    </form>
</div>
