@model musicly.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        dt {
            float: right !important;
        }

        dd {
            text-align: right;
        }
    </style>
<h2 style="text-align:right">פרטי הזמנה</h2>

<div>
    <h4 style="text-align:right">@Html.DisplayFor(model => model.User.FirstName) ההזמנה של </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            תאריך ההזמנה
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            מוצרים
        </dt>
        <dd>
            <table style="border:1px solid black; text-align:center;float:right">
                @foreach (var instrumentOrder in Model.InstrumentOrders)
                {
                    <tr style="border:1px solid black">
                        <td>
                            @Html.DisplayFor(modelItem => instrumentOrder.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => instrumentOrder.Instrument.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">חזרה לדף ההזמנות</a>
</div>
