@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - musicly</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>

        // GET: News info
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/https://newsapi.org/v2/top-headlines?country=il&category=music&apiKey=112a5b2506054a83b7ec95a1574d3764",
            type: "GET",
            headers: { 'Access-Control-Allow-Origin': '*' },
            success: function (r) {
                $.each(r.articles, function (i, item) {

                    var sign = document.createElement("span");
                    sign.className = "glyphicon glyphicon-backward pad";
                    $("#articles-view").append(sign);
                    $("#articles-view").append(item.title);
                });
            },
            error: function (e) {
                alert("Could not query news")
            },
            async: true
        });
    </script>

    <style>
        .pad {
            padding-right: 15px;
            padding-left: 15px;
        }
        body {
            background-color: #4e41412e;
        }

        #myNavbar {
            top: 0;
            position: absolute;
            width: 100%;
            border-radius: 0;
            height:65px;
        }
        body{
            font-family:'Segoe UI';
        }
        .greeting{
            color:white !important;
            text-decoration:none;
            white-space:nowrap;
        }
    </style>
</head>
<body>

    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex flex-grow-1">
            <ul class="navbar-nav" style="height:50px">
                @if (Context.Session.GetString("UserName") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Register" asp-action="Index">הרשמה</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">התנתק</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size:24px" asp-area="" asp-controller="InstrumentOrdersController" asp-action="Cart">🛒</a>
                    </li>

                    @if (Context.Session.GetString("UserName") != null &&
                         Context.Session.GetString("FirstName") != null &&
                             Context.Session.GetInt32("Admin") != 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link greeting">שלום,  @Context.Session.GetString("FirstName")</a>
                        </li>
                    }
                    else if (Context.Session.GetInt32("Admin") == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link greeting">שלום, מנהל</a>
                        </li>
                    }

                }
            </ul>

            <div class="w-100 text-right">
                <ul class="navbar-nav" style="height:50px">
                 
                </ul>
                   
            </div>
        </div>
        <div class="navbar-collapse flex-grow-1 text-right">
            <ul class="navbar-nav ml-auto flex-nowrap">
                @if (Context.Session.GetString("Admin") != null && Context.Session.GetInt32("Admin") == 1)
                {
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Statistics" asp-action="Index">סטטיסטיקות של קניות</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">ניהול משתמשים</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="InstrumentTypes" asp-action="Index">ניהול סוגי כלים</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="InstrumentOrders" asp-action="Index">ניהול הזמנות</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Instruments" asp-action="Index">ניהול כלי נגינה</a>
                    </li>
                }

                @if (Context.Session.GetString("UserName") != null)
                {
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id=@Context.Session.GetInt32("UserId")>הפרטים שלי</a>
                    </li>
                    <li class="nav-item" class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Instruments" asp-action="InstrumentsList">כלי נגינה</a>
                    </li>
                }

                @if (Context.Session.GetString("UserName") == null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">התחבר</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">אודות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">דף הבית</a>
                </li>
                <a class="navbar-brand" href="#">
                    מוזיק🎷י
                </a>
            </ul>
        </div>
    </nav>


    <div class="onoffswitch3" style="padding-top:15px">
        <label class="onoffswitch3-label" for="myonoffswitch3">
            <span class="onoffswitch3-inner">
                <marquee id="articles-view" class="scroll-text" style="direction:rtl"></marquee>
                <span class="onoffswitch3-switch"><span class="glyphicon"></span></span>

            </span>
        </label>
    </div>

    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        @RenderBody()
        <hr style="border-top: 1px solid black;" />
        <footer>
            <p>&copy; 2020 - musicly</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">

        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
