@{
    ViewData["Title"] = "Index";
}

<style>
    .login-form {
        font: 16px/2em;
        margin: 100px auto;
        max-width: 400px;
    }

    form[role=login] {
        color: #5d5d5d;
        background: #f2f2f2;
        padding: 26px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

        form[role=login] img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }

        form[role=login] input,
        form[role=login] button {
            font-size: 18px;
            margin: 16px 0;
        }

        form[role=login] > div {
            text-align: center;
        }

        .form-links {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 50px;
        }

        .form-links a {
            color: #fff;
        }

        img {
            position: absolute;
            width: 110px;
            top: 15vmin;
            left: 47vw;
        }
</style>
<script>
    sessionStorage.clear();
</script>

<div class="container login">
    <h4 class="invalid-login">@ViewBag.Message</h4>
    <section class="container">
        <section class="login-form">
            <form method="post" action="" role="login">
                <img src="https://image.flaticon.com/icons/svg/2907/2907004.svg" class="img-responsive" alt="" />
                <input type="text" name="userName" placeholder="שם משתמש" style="text-align:center" required class="form-control input-lg" />
                <input type="password" name="password" placeholder="סיסמא" style="text-align:center" required class="form-control input-lg" />
                <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">התחבר</button>
                <div>
                    <a href="/Register">צור חשבון</a>
                </div>
            </form>
        </section>
    </section>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</div>